<table class="table">
    <thead>
        <th>名称</th>
        <th>大小</th>
        <th>最后修改</th>
    </thead>
    <tbody>
        {{range .}}
        <tr>
            <td>
                {{if .IsDir}}
                <i class="icon-folder-o"></i>
                {{else}}
                <i class="icon-file-o"></i>
                {{end}}
                <span class="fname" data-isdir="{{.IsDir}}" data-path="{{.Path}}">{{.Name}}</span>
            </td>
            <td>{{.Size|cap}}</td>
            <td>{{.LastModified.Format "2006-01-02 15:04:05"}}</td>
        </tr>
        {{end}}
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3">{{len .}}</td>
        </tr>
    </tfoot>
</table>