{{define "toolbar"}}
<div class="btns">
    <button id="download" title="下载"><i class="icon-file_download"></i></button>
    <button id="spinner" type="button" disabled style="display:none">
        <span class="spinner-border spinner-border-sm text-danger" role="status" aria-hidden="true"></span>
        请稍候......
    </button>
    <button id="mulSel" title="多选"><i class="icon-check-circle"></i></button>
    <button id="share" title="share links"><i class="icon-content_copy"></i></button>
</div>
{{end}}