{{define "title"}} list {{end}}

{{define "body"}}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
    </ol>
</nav>
<div class="btns">
    <button id="download" title="下载"><i class="fas fa-download"></i></button>
    <button id="spinner" type="button" disabled style="display:none">
        <span class="spinner-border spinner-border-sm text-danger" role="status" aria-hidden="true"></span>
        请稍候......
    </button>
    <button id="mulSel" title="多选"><i class="fas fa-check-circle"></i></button>
</div>
<div class="files-wrapper">
    <div id="files">
        <table class="table">
            <thead>
                <th>Name</th>
                <th>Size</th>
                <th>LastModified</th>
            </thead>
            <tbody>
                {{range .}}
                <tr>
                    <td>
                        {{if .IsDir}}
                        <i class="fas fa-folder"></i> {{else}}
                        <i class="fas fa-file"></i> {{end}}
                        <span class="fname" data-isdir="{{.IsDir}}" data-path="{{.Path}}">{{.Name}}</span>
                    </td>
                    <td>{{.Size|cap}}</td>
                    <td>{{.LastModified.Format "2006-01-02 15:04:05"}}</td>
                </tr>
                {{end}}
            </tbody>
        </table>
    </div>
</div>
{{end}}