{{define "title"}} list {{end}}
{{define "css"}}
<style>
    #files tr:hover {
        cursor: pointer;
    }
    
    .btns {
        /* position: fixed; */
    }
    
    .files-wrapper {
        /* margin-top: 4rem;
           /* height: 500px; */
        /* overflow: auto; */
    }
    
    #files {
        /* margin-top: 3rem; */
        height: 500px;
        overflow: auto;
        border-top: 1px solid gray;
        ;
    }
    
    .breadcrumb {
        /* position: fixed; */
    }
</style>
{{end}}

{{define "body"}}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
    </ol>
</nav>
<div class="btns">
    <button id="download"> <i class="fas fa-download fa-2x"></i></button>
    <button><i class="fas fa-folder fa-2x"></i></button>
</div>
<div class="files-wrapper">
    <div id="files">
        <table class="table">
            <thead>
                <th>Name</th>
                <th>Size</th>
                <th>LastModified</th>
                <th></th>
            </thead>
            <tbody>
                {{range .}}
                <tr>
                    <td>
                        {{if .IsDir}}
                        <i class="fas fa-folder"></i>
                        {{else}}
                        <i class="fas fa-file"></i>
                        {{end}}
                        <span class="fname" data-isdir="{{.IsDir}}" data-path="{{.Path}}">{{.Name}}</span>
                    </td>
                    <td>{{.Size|cap}}</td>
                    <td>{{.LastModified.Format "2006-01-02 15:04:05"}}</td>
                    <td><i class="fas fa-download"></i></td>
                </tr>
                {{end}}
            </tbody>
        </table>
    </div>
</div>
{{end}}

{{define "script"}}
<script>
    $(document).ready(function() {
        $("#files").on('click', 'tr', function(e) {
            $("tr").removeClass('selected');
            $(this).addClass('selected');
        });

        // var root = window.location.href.replace(/\/$/, ""); / *// remove end slash
        
        $("#files").on('dblclick', 'tr', function(e) {
            var $this = $(this).find('.fname');
            var name = $this.text();
            var isdir = $this.attr('data-isdir');
            var path = $this.attr('data-path');
            if(path=="/"){
                path = path + name;
            }else{
                path = path + "/" + name;
            }
            // only directory
            if(isdir=="true"){
                $.ajax({
                    url: '/',
                    type: 'GET',
                    data: {
                        isdir: isdir,
                        name: name,
                        method: "ajax",
                        path: path
                    },
                    success: function(ret) {
                        showFiles(ret);
                        var li = '<li class="breadcrumb-item">'+
                                 '<a href="'+ path + '">'+name+'</a>'+
                                 '</li>';
                        $('.breadcrumb').append(li);
                    }
                }); // end ajax
            }
        });
        
        $(".breadcrumb").on("click", "a", function (e) {
            e.preventDefault();
            var name = $(this).text();
            var url = $(this).attr('href');
            $(this).parent().nextAll().remove();

            $.ajax({
                url: '/',
                type: 'GET',
                data:{
                    name: name,
                    method: "ajax",
                    path: url
                },
                success: function(ret){
                    showFiles(ret);
                },
                error: function (x, s, e) {
                    console.log(x, s, e);
                }
            }); // end ajax
        });

        // show files from server.
        function showFiles(ret){
            if($(ret).find('tbody').text().trim().length==0){
                $('#files tbody').html("空");
            }else{
                $('#files').html(ret);
            }
        }
    });
</script>
{{end}}
