{{define "title"}} Search {{end}}

{{define "body"}}
<div class="files-wrapper">
    <div id="files">
        <table class="table">
            <thead>
                <th>名称</th>
                <th>路径</th>
                <th>大小</th>
                <th>最后修改</th>
            </thead>
            <tbody>
                {{range .}}
                <tr>
                    <td>
                        {{if .IsDir}}
                        <i class="fas fa-folder"></i> {{else}}
                        <i class="fas fa-file"></i> {{end}}
                        <span class="fname" data-isdir="{{.IsDir}}" data-path="{{.Path}}">{{.Name}}</span>
                    </td>
                    <td>{{.Path}}</td>
                    <td>{{.Size|cap}}</td>
                    <td>{{.LastModified.Format "2006-01-02 15:04:05"}}</td>
                </tr>
                {{end}}
            </tbody>
        </table>
    </div>
</div>
{{end}}
